@model Social_Network.WEB.Models.RegistrarionViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Registration</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/jquery-3.1.1.js")" type="text/javascript"></script>
</head>
<body>
    <div>
        <h1>Please, fill your personal info...</h1>

    </div>
    @using (Html.BeginForm())
    {
        <div>

            @Html.ValidationSummary()
            <div class="form-group">
                <label>Your Name</label>
                @Html.TextBoxFor(x => x.Name, new { @class = "control-label col-md-4" })
            </div>
            <div class="form-group">
                <label>Your Surname</label>
                @Html.TextBoxFor(x => x.Surname, new { @class = "control-label col-md-4" })

            </div>
            <div class="form-group">
                <label>Your Birthday (year-month-day)</label>
                @Html.TextBoxFor(x => x.Birthday, new { @class = "control-label col-md-4" })

            </div>
            <div class="form-group">
                <label>Show your birthday?</label>
                @Html.DropDownListFor(x => x.Show_birthday, new[] {
                 new SelectListItem() { Text = "Yes", Value="true"},
                new SelectListItem() { Text = "No", Value="false"}
            }, new { @class = "control-label col-md-4" })
            </div>
            <div class="form-group">
                <label>Your gender</label>
                @Html.DropDownListFor(x => x.Gender, new[] {
                new SelectListItem() { Text = "Male"},
                new SelectListItem() { Text = "Female"}
            }, new { @class = "control-label col-md-4" })
            </div>
            <div class="form-group">
                <label>Your Email</label>
                @Html.TextBoxFor(x => x.Mail, new { @class = "control-label col-md-4" })
            </div>
            <div class="form-group">
                <label>Your URL</label>
                @Html.TextBoxFor(x => x.URL, new { @class = "control-label col-md-4" })
            </div>
            <div class="form-group">
                <label>Your Password</label>
                @Html.PasswordFor(x => x.User_Password, new { @class = "control-label col-md-4" })
            </div>
            <div class="form-group">
                <label>Confirm Password</label>
                @Html.PasswordFor(x => x.PasswordConfirm, new { @class = "control-label col-md-4" })
            </div>
            <div>
                <input type="submit" value="Register" class="btn btn-success" />
            </div>
        </div>
    }
</body>
</html>
