@model Social_Network.WEB.Models.UserInfoViewModel
@using System.Globalization;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@(Model.Name + " " + Model.Surname)</title>
    <script src="@Url.Content("~/Scripts/jquery-3.1.1.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/NetworkFunctions.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.js")" type="text/javascript"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/PersonalStyles.css" rel="stylesheet" />
</head>
<body onload="SetIntervalOnLoad('#postsID', ''+@Model.ID)" class="col-md-12">
    <div class="navbar navbar-inverse navbar-fixed-top col-md-8 col-md-offset-2">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle togglediv" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-brand urldiv">
                    @Model.AuthenticatedURL
                </div>
                <div class="input-group navbar-brand col-md-8">
                    <input id="searchTextID" placeholder="Type to search..." type="text" class="form-control" aria-label="..." onchange="UsersAjaxCall('#usersList', '#searchTextID')">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <b class="caret"></b>
                        </button>
                        <ul id="usersList" class="dropdown-menu dropdown-menu-right" role="menu"></ul>
                    </div>
                </div>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        @Html.ActionLink("View your page", "MainPage", "User", new { id = @Model.AuthenticatedURL }, null)
                    </li>
                    <li>
                        @Html.ActionLink("Update your info", "Edit", "User")
                    </li>
                    <li>
                        @Html.ActionLink("Logout", "Logout", "UserLogin")
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="maindiv" class="row col-md-12">
        <div class="col-md-4 col-md-offset-2">
            <img class="img-responsive img-rounded" src="/User/Image/@((Model.Photo_ID == null)?"":""+Model.Photo_ID)" alt="hui" />
            @if (Model.URL == Model.AuthenticatedURL)
            {
                using (Html.BeginForm("MainPage", "User", FormMethod.Post, new { @enctype = "multipart/form-data" }))
                {
                    <div class="text-center form-group">
                        <label class="form-control custom-file-upload">
                            Get a picture!
                            <input id="ImageFile" name="ImageFile" type="file" accept="image/jpeg image/png image/jpg" />
                        </label>
                        <div>
                            <input type="submit" value="Save the picture!" class="btn btn-default" />
                        </div>
                    </div>
                }
            }
        </div>
        <div class="col-md-4">
            <blockquote>
                <p>
                    @(Model.Name + " " + Model.Surname)
                </p>
                <small>
                    <cite title="Source Title">
                        @Model.URL
                        <i class="glyphicon glyphicon-user"></i>
                    </cite>
                </small>
            </blockquote>
            <p>
                <i class="glyphicon glyphicon-envelope"></i> @Model.Mail
                <br />
                <i class="glyphicon glyphicon-star-empty"></i> @Model.Gender
                <br />
                @if (Model.Show_birthday)
                {
                    <i class="glyphicon glyphicon-gift"></i> @Model.Birthday.ToString("MMMM dd, yyyy", CultureInfo.InvariantCulture)
                }
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-4 col-md-4 col-sm-4">
            <h4>Create a new post!</h4>
            <div>
                <textarea placeholder="Type the message here..." class="col-md-12 col-sm-12 col-xs-12" id="newPostText" name="newPostText" rows="6"></textarea>
            </div>
            <label class="custom-file-upload-post glyphicon glyphicon-picture">
                <input id="newPostImage" name="newPostImage" type="file" accept="image/jpeg image/png image/jpg" />
            </label>
            <div class="btn glyphicon glyphicon-send pull-right" onclick="CreatePostAjaxCall('#postsID', ''+@Model.ID, '#newPostText', '#newPostImage')">
            </div>
            <div id="postsID">

            </div>
        </div>
    </div>
</body>
</html>
