@model List<Social_Network.WEB.Models.PostListItemViewModel>

@foreach (var item in Model)
{
    string likeid = "likeid" + item.ID;
    string userlikes = "userlikesID" + item.ID;
    <div>
        <div>
            @Html.ActionLink(item.PosterFullName, "MainPage", "User", new { id = item.URL }, null)
            @if (item.Authenticated_URL == item.URL)
            {
                <div class="glyphicon glyphicon-remove pull-right btn" onclick="RemovePost('#postsID',@item.UserID,@item.ID)">
                </div>
            }
        </div>
        <div>
            @item.Date
        </div>
        <div class="">
            @item.Text
        </div>
        <div>
            <img class="img-responsive" src="/User/PostImage/@((item.ID == null) ? "" : "" + item.ID)" alt="hui" />
        </div>
        <div id=@userlikes></div>
        <div class="btn" id=@likeid onclick="LikePost(@likeid,@item.ID)" onmouseover="ShowUserLikes('#@userlikes', @item.ID)">
            ♥ @item.Likes
        </div>
        
    </div>
}