@model List<Social_Network.WEB.Models.PostListItemViewModel>
@using System.Globalization;
@foreach (var item in Model)
{
    string likeid = "likeid" + item.ID;
    string userlikes = "userlikesID" + item.ID;
    <div class="col-md-12 panel panel-primary post-padding">
        <div>
            @Html.ActionLink(item.PosterFullName, "MainPage", "User", new { id = item.URL }, null)
            @if (item.AuthenticatedID == item.PosterID || item.AuthenticatedID == item.UserID)
            {
                <div class="glyphicon glyphicon-remove pull-right btn" onclick="RemovePost('#postsID',@item.UserID,@item.ID)">
                </div>
            }
        </div>
        <div class="date-text">
            @(item.Date.ToString("dd MMMM yyyy", CultureInfo.InvariantCulture) + ", " + item.Date.ToString("HH:MM:ss"))
        </div>
        <br />
        <div>
            @item.Text
        </div>
        <br />
        <div>
            <img class="img-responsive" src="/User/PostImage/@((item.ID == null) ? "" : "" + item.ID)" alt="hui" />
        </div>
        <div onmouseleave="HideUserLikes('#@userlikes')">
            <div class="btn" id="@likeid" onclick="LikePost(@likeid,@item.ID)" onmouseover="ShowUserLikes('#@userlikes', @item.ID)">
                ♥ @item.Likes
            </div>
            <div id=@userlikes></div>
        </div>

    </div>
}